<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <!-- <%  if(kindOfDay==="Sunday" || kindOfDay==="Monday"){   %>
        <h1 style="color: red;"><%= kindOfDay %> To Do List</h1>
  
  <%  } else {  %>
    <h1 style="color: rgba(26, 26, 4, 0.26);"><%= kindOfDay %> To Do List</h1>
  <%  }   %>
     put this code into list.ejs for try  -->
    <h1>It is a <%= kindOfDay %></h1>
    
</body>
</html>